.row {
  box-sizing: border-box;
  border: 10px solid white;
  box-shadow: silver;
  height: 800px;
  margin-left: 10px;
  margin-right: 10px;
  background-color:#cebfb9;
}

.jumbotron {
 background-color:#cebfb9;
}

h1 {
  color: #080823;
  font-size: 50px;
  text-align: justify;
  text-decoration: underline;

}

h4 {
  text-decoration: underline;
  font-size: 30px;
  font-weight: bold;
}

h5 {
  font-size: 25px;
}


h6 {
  font-size: 25px;
  text-decoration: underline;
  color: #080823;
}

 p {
   font-size: 20px;
   font-style: italic;
 }

li {
  font-size: 17px;
  font-style: oblique;
}

#split1 {
  background-color:#bba79f;
}

.col-md-8 >p{
  font-size: 35px;

}
